#game_panel{
    padding: 0px 15%;
    display: flex;
    justify-content: space-around;
}
.cpt_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cpt{
    background-color: white;
    border-radius: 10px;
    height: 110px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.num_cpt{
    font-size: 4em;
}