.carte {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
}
.carte-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
.carte-return .carte-inner {
    transform: rotateY(180deg);
}
.carte-front,
.carte-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.carte-front {
    transform: rotateY(180deg);
}
#choosePanel{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#cards{
    display: flex;
    justify-content: space-around;
}